/* Main body styles */
body {
	background: #bcd9e6;
	color: #111;
}
	
	/* Title / Headings */
h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

header {
	background-color: #bcd9e6;
}
	.site-header > nav {
		margin: 15px 0 0 ;
		background-color: #0063B2FF;
		border-radius: 15px;
	}
	.site-header .navbar-nav .nav-link {
		color: #EEEEEE;
		padding: 0.5em 1em;
	}
	.site-header .navbar-nav .nav-link:hover {
		color: #bcd9e6;
		border-radius: 10px;
	}
	.site-header .navbar-nav .nav-link:first-child:hover {
		color: #EEEEEE;
		border-radius: 10px;
	}
	.site-header .navbar-nav .nav-link.active {
		font-weight: 500;
	}
	
	#end_text {
		color: #EEEEEE;
		text-decoration: none;
}

div.box {
	padding: 10px;
	background-color: #f3fbff;
	border-radius: 5px 25px; 
	border: 3.5px solid #0063B2FF;
}

#w74 { word-wrap: break-word; }

#wrapper {
	margin: 0;
	width: 1295px;
}

#content {
	float: left;
	width: 1040px;
	padding-right: 20px;
}

#rightcolumn {
	width: 255px;
	float: left;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #7a94e9;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  font-size: small;
  color: white;
}
