{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

	<div class="box">
		<h1>Web-based steganography tool.  </h1>
		<hr>
		<p style="font-size: 22px;">This website provides a simple tool for encoding and decoding messages with images.</p>
		<p style="font-size: 20px;"><b>For Encoding:</b> Go to the Encode section of the website, select an image that you want to encode and enter your super-secret message in the text box below.</p> 
		<p style="font-size: 20px;"><b>For Decoding:</b> Go to the Decode section of the website, select an image that you want to decode and then your super-secret message will appear in text box below.</p>
		<hr>
		<p style="font-size: 20px;"> You can also access the last decoded message and the last encoded image with the links provided at the right of this text.</p>
		<p style="font-size: 20px;"> More information about the project, how the steganography was done and about this website can be found in the about section.</p>
	</div>

{% endblock %}
